[submodule "Team_13_Small_Project_API"]
	path = Team_13_Small_Project_API
	url = https://github.com/jsapp352/Team_13_Small_Project_API.git
[submodule "Team_13_Small_Project_React"]
	path = Team_13_Small_Project_React
	url = https://github.com/jsapp352/Team_13_Small_Project_React.git
